body{

}

p{

}

h3{

}

li{

}

#Header{
	text-align: center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
}

#Header h1{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#LeftNav{
	float: left;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
}

#LeftNav img{
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
}

#LeftNav ul{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
}

#LeftNav h3{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
}

#Content{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
}

#Footer{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
}

